body {
  background-color: #f7f7f7;
  margin: 5%;
  font-family: Avenir;
}

h1 {
  font-size: 3.5em;
  text-decoration: bold;
}

p {
  font-size:1.2em;
}

a {
  text-decoration: none;
  color: black;
}

.list-group-item {
  background-color: #f7f7f7;
  font-size:1.2em;
}

.indent {
  padding-left: 5%;
}

.blog-post-show { 
  display: block;
}

.blog-post-hide {
  display: none;
}

.blog-table-of-contents-entry {
  cursor: grab;
  text-decoration: underline;
}

.blog-table-of-contents-entry-selected {
  font-weight: bold;
}

@media (max-width: 1000px) {
  .indent {
    padding-left: 1%;
  }

  h1 {
    font-size: 3.5em;
  }

  .list-group {
    /* So photo doesn't stick to bottom of the list group on mobile */
    padding-bottom: 20px; 
  }
}